body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #333;
}
.login-container {
  text-align: center;
  width: 100%; /* 相対指定に変更 */
  max-width: 110%;
  background-color: #fff;
  border-radius: 3px;
  padding: 100px;
}
.login-container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 150px;
}
.login-container h1 .icon-key {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.form-group {
  margin-bottom: 15px;
  text-align: left;
}
label {
  font-size: 14px;
  margin-bottom: 2px;
  display: block;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 16px;
}
.button-group{
  display: flex;
}
.add-btn,
.return {
  background-color: #02A50F;
  display: block;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  width: 20%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 20px;
 margin-left: 190px;
}